/** MENU STYLES **/
body {
	background: #074d55;
	background-image: -moz-radial-gradient(center,ellipse cover,#a7cfdf 0%,#23538a 100%);
	background-image: -webkit-gradient(radial,right bottom,0px,left top,100%,color-stop(0%,#6967a5),color-stop(50%,#2075a1),color-stop(100%,#074d55));
	background-image: -webkit-radial-gradient(right bottom,ellipse cover,#6967a5 0%,#2075a1 50%,#074d55 100%);
	background-image: radial-gradient(ellipse at right bottom,#6967a5 0%,#2075a1 50%,#074d55 100%);
}

.panel .page, .panel .pages, .panel, .view-panel {
    background: none;
}

.panel .list-block ul {
    background: none;
    border:none;
}

.panel .list-block .item-link {
    color:#fff;
}

.panel .list-block .item-link:active {
    background: rgba(255,255,255,0.2);
}

.panel .list-block .item-inner {
    border-bottom-color:rgba(255,255,255,0.2);
}

.panel .content-block, .panel .content-block-title {
    color:#fff;
}

.panel .list-block .item-link .item-inner {
    background-image: url("data:image/svg+xml; charset=utf-8, <svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'> <path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='%23fff' /></svg>");
}

/** TABS **/
.tab {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}


/** ICONS **/
i.icon.icon-news {
	height: 29px;
	width: 29px;
	background-image: url(../img/news.png);
}

i.icon.icon-vp {
	height: 29px;
	width: 29px;
	background-image: url(../img/vp.png);
}

i.icon.icon-calendar {
	height: 29px;
	width: 29px;
	background-image: url(../img/calendar.png);
}

i.icon.icon-archive {
	height: 29px;
	width: 29px;
	background-image: url(../img/archive.png);
}

i.icon.icon-settings {
	height: 29px;
	width: 29px;
	background-image: url(../img/settings.png);
}

i.icon.icon-phone {
	height: 29px;
	width: 29px;
	background-image: url(../img/phone.png);
}

i.icon.icon-menu {
	height: 29px;
	width: 29px;
	background-image: url(../img/menu.png);
}

i.icon.icon-photo {
	height: 29px;
	width: 29px;
	background-image: url(../img/photo.png);
}

i.icon.icon-news-b {
	height: 29px;
	width: 29px;
	background-image: url(../img/news-s.png);
}

i.icon.icon-photo-b {
	height: 29px;
	width: 29px;
	background-image: url(../img/photo-s.png);
}

i.icon.icon-share-b {
	height: 29px;
	width: 29px;
	background-image: url(../img/share-s.png);
}

.tab-link.active  i.icon.icon-news-b{
	height: 29px;
    width: 29px;
    background-image: url(../img/news-b.png);
}

.tab-link.active  i.icon.icon-photo-b {	
	height: 29px;
    width: 29px;
    background-image: url(../img/photo-b.png);
}

.tab-link.active  i.icon.icon-share-b {	
	height: 29px;
    width: 29px;
    background-image: url(../img/share-b.png);
}


/** Statusbar **/
html.with-statusbar-overlay .statusbar-overlay {
	background: #007aff;
}

/** THUMBNAILS **/
.thumb {
    width: 80px;
    background-position: center center;
    background-size: cover;	
}

/** PRELOADER **/
.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}   


/** LISTS  **/ 
.list-block .item-text,
.list-block .item-title,
.list-block .item-subtitle {
	-webkit-line-clamp: 99;
	max-height: none;
	height: auto;
	width:100%;
	white-space: normal;
}

.list-block .item-input {
	width: auto;
}     



/** VP **/
.vp-red {
	background: #e74c3c;
	color: #fff;
}

.vp-green {
	background: #2ecc71;
	color: #fff;
}

.vp-tur {
	background: #3498db;
	color: #fff;
}

.vp-red .item-text,
.vp-green .item-text,
.vp-tur .item-text {
	color: #fff;
}

.list-block:not(.media-list)  .vp-red.accordion-item-expanded:not(.media-item) > .item-link .item-inner,
.list-block:not(.media-list)  .vp-green.accordion-item-expanded:not(.media-item) > .item-link .item-inner,
.list-block:not(.media-list) .vp-tur.accordion-item-expanded:not(.media-item) > .item-link .item-inner {
	background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg%20viewBox%3D%270%200%2060%20120%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%3Cpath%20d%3D%27m60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z%27%20transform%3D%27translate(115%2C%2030)%20rotate(90)%27%20fill%3D%27%23ffffff%27%2F%3E%0A%3C%2Fsvg%3E");
}

.vp-red .item-link .item-inner,
.vp-green .item-link .item-inner,
.vp-tur .item-link .item-inner {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2060%20120%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27m60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z%27%20fill%3D%27%23ffffff%27%2F%3E%3C%2Fsvg%3E");
}

.vp-red .content-block,
.vp-green .content-block,
.vp-tur .content-block {
	color: #fff;
}




